<template>
  <div>
    <div class="flex items-center justify-between">
      <h3 class="text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-100">Filters</h3>

      <div>
        <button
          v-if="showReset"
          type="button"
          class="text-sm font-medium text-primary-500 hover:text-primary-600"
          @click.prevent="resetFilters"
        >
          Reset filters
        </button>
      </div>
    </div>

    <white-box>
      <div class="flex items-center gap-6 p-6">
        <input-select v-model="filters.apartment_id" id="apartment-id" aria-placeholder="Apartment">
          <option value="">All apartments</option>
          <option v-for="apartment in apartments" :value="apartment.id" :key="apartment.id">
            {{ apartment.name }}
          </option>
        </input-select>

        <input-select v-model="filters.provider_id" id="provider-id" aria-placeholder="Provider">
          <option value="">All providers</option>

          <optgroup v-for="apartment in apartments" :key="apartment.id" :label="apartment.name">
            <option
              v-for="provider in providers.filter((p) => p.apartment_id === apartment.id)"
              :key="provider.id"
              :value="provider.id"
            >
              {{ provider.name }}
            </option>
          </optgroup>
        </input-select>

        <input-select v-model="filters.paid" id="filters-paid" aria-placeholder="Paid?">
          <option value="">All</option>
          <option value="yes">Paid</option>
          <option value="no">Not paid</option>
        </input-select>
      </div>
    </white-box>
  </div>
</template>

<script lang="ts" setup>
import { computed, reactive, watch } from "vue";
import { usePage } from "@inertiajs/inertia-vue3";
import WhiteBox from "@/Components/Blocks/WhiteBox.vue";
import InputSelect from "@/Components/Elements/InputSelect.vue";
import { Inertia } from "@inertiajs/inertia";

const page = usePage<{ apartments: Apartment[]; providers: Provider[]; filters: RecordFilters }>();

const apartments = computed(() => page.props.value.apartments);
const providers = computed(() => page.props.value.providers);
const apartmentId = computed(() => page.props.value.filters.apartment_id);
const providerId = computed(() => page.props.value.filters.provider_id);
const paid = computed(() => page.props.value.filters.paid);

const filters = reactive({
  apartment_id: apartmentId.value,
  provider_id: providerId.value,
  paid: paid.value,
});

const showReset = computed(() => Boolean(filters.apartment_id || filters.provider_id || filters.paid));

const resetFilters = () => {
  Inertia.get(
    route("records.index"),
    {},
    {
      replace: true,
    }
  );
};

watch(filters, () => {
  Inertia.get(
    route("records.index"),
    {
      apartment_id: filters.apartment_id || null,
      provider_id: filters.provider_id || null,
      paid: filters.paid || null,
    },
    {
      preserveScroll: true,
      preserveState: true,
      replace: true,
    }
  );
});
</script>
