<script setup lang="ts">
import { ref } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { Head, Link as InertiaLink } from "@inertiajs/inertia-vue3";
import { PencilSquareIcon, TrashIcon } from "@heroicons/vue/24/outline";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PageTitle from "@/Components/Elements/PageTitle.vue";
import Card from "@/Components/Blocks/Card.vue";
import PageHeader from "@/Components/Blocks/PageHeader.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import ApartmentForm from "@/Components/Forms/ApartmentForm.vue";
import AlertModal from "@/Components/Blocks/AlertModal.vue";

defineProps<{ apartments: Apartment[] }>();

const open = ref(false);
const openRemove = ref(false);
const active = ref<OptionalApartment>(null);
const activeRemove = ref<OptionalApartment>(null);

const toggleModal = () => (open.value = !open.value);
const toggleRemoveModal = () => (openRemove.value = !openRemove.value);

const create = () => {
  active.value = null;
  toggleModal();
};

const edit = (apartment: OptionalApartment) => {
  active.value = apartment;
  toggleModal();
};

const remove = (apartment: OptionalApartment) => {
  activeRemove.value = apartment;
  toggleRemoveModal();
};

const handleRemove = () => {
  if (!activeRemove.value) return;

  Inertia.delete(route("apartments.destroy", activeRemove.value), {
    preserveState: true,
    onFinish: () => toggleRemoveModal(),
  });
};
</script>

<template>
  <Head><title>Apartments</title></Head>

  <AuthenticatedLayout>
    <template #header>
      <page-header>
        <page-title>Apartments</page-title>

        <template #actions>
          <app-button @click="create">Add apartment</app-button>
        </template>
      </page-header>
    </template>

    <apartment-form :apartment="active" :open="open" @close="toggleModal" />

    <alert-modal :open="openRemove" @close="toggleRemoveModal" @confirm="handleRemove">
      Are you sure you want to remove this apartment?
    </alert-modal>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
      <div v-for="apartment in apartments" :key="apartment.id">
        <card>
          <template #title>
            <div class="flex flex-row items-center justify-between gap-4">
              <inertia-link
                class="hover:cursor-pointer hover:text-gray-700"
                :href="route('apartments.show', apartment)"
              >
                {{ apartment.name }}
              </inertia-link>

              <p class="flex items-center gap-1">
                <button type="button" class="icon-link" title="Edit" @click.prevent="edit(apartment)">
                  <pencil-square-icon class="h-5 w-5" />
                </button>
                <button type="button" class="icon-link" title="Remove" @click.prevent="remove(apartment)">
                  <trash-icon class="h-5 w-5" />
                </button>
              </p>
            </div>
          </template>

          <div>
            <p class="text-gray-600">{{ apartment.location }}</p>
            <p v-if="parseFloat(apartment.area_size)" class="text-gray-800">
              <span class="font-semibold text-gray-600">{{ apartment.area_size }} m<sup>2</sup></span>
            </p>
          </div>

          <template #actions>
            <div class="flex items-center justify-end gap-1">
              <inertia-link class="btn btn-secondary" :href="route('apartments.show', apartment)">Open</inertia-link>
            </div>
          </template>
        </card>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
