<script setup lang="ts">
import { computed, ref } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { Head, Link as InertiaLink } from "@inertiajs/inertia-vue3";
import { FolderOpenIcon, PencilSquareIcon, TrashIcon } from "@heroicons/vue/24/outline";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import PageTitle from "@/Components/Elements/PageTitle.vue";
import WhiteBox from "@/Components/Blocks/WhiteBox.vue";
import PageHeader from "@/Components/Blocks/PageHeader.vue";
import Card from "@/Components/Blocks/Card.vue";
import RecordsTable from "@/Components/Blocks/RecordsTable.vue";
import RecordForm from "@/Components/Forms/RecordForm.vue";
import ProviderForm from "@/Components/Forms/ProviderForm.vue";
import ApartmentForm from "@/Components/Forms/ApartmentForm.vue";
import AlertModal from "@/Components/Blocks/AlertModal.vue";

const props = defineProps<{ apartment: Apartment; providers: Provider[]; records: ServiceRecord[] }>();

const hasAreaSize = computed(() => parseFloat(props.apartment.area_size));

const openEdit = ref(false);
const toggleEditForm = () => (openEdit.value = !openEdit.value);

const openRemove = ref(false);
const toggleRemoveModal = () => (openRemove.value = !openRemove.value);

const openRecordForm = ref(false);
const toggleRecordForm = () => (openRecordForm.value = !openRecordForm.value);

const openProviderForm = ref(false);
const toggleProviderForm = () => (openProviderForm.value = !openProviderForm.value);

const handleRemove = () => {
  Inertia.delete(route("apartments.destroy", props.apartment), {
    onFinish: () => toggleRemoveModal(),
  });
};
</script>

<template>
  <Head>
    <title>{{ apartment.name }}</title>
  </Head>

  <AuthenticatedLayout>
    <template #header>
      <page-header with-back>
        <div class="flex items-end gap-4">
          <page-title>{{ apartment.name }}</page-title>
          <p class="text-sm font-semibold text-gray-600">{{ apartment.location }}</p>
          <span v-if="hasAreaSize" class="text-sm">/</span>
          <p v-if="hasAreaSize" class="text-sm text-gray-800">
            <span class="font-semibold text-gray-600">{{ apartment.area_size }} m<sup>2</sup></span>
          </p>
        </div>

        <template #actions>
          <p class="flex items-center gap-1">
            <button type="button" class="icon-link" title="Edit" @click.prevent="toggleEditForm">
              <pencil-square-icon class="h-5 w-5" />
            </button>
            <button type="button" class="icon-link" title="Remove" @click.prevent="toggleRemoveModal">
              <trash-icon class="h-5 w-5" />
            </button>
          </p>
        </template>
      </page-header>
    </template>

    <apartment-form :apartment="apartment" :open="openEdit" @close="toggleEditForm" />

    <alert-modal :open="openRemove" @close="toggleRemoveModal" @confirm="handleRemove">
      Are you sure you want to remove this apartment?
    </alert-modal>

    <record-form
      :open="openRecordForm"
      :record="null"
      :selected-apartment="apartment"
      :records="records"
      @close="toggleRecordForm"
    />

    <provider-form :open="openProviderForm" :selected-apartment="apartment" @close="toggleProviderForm" />

    <div class="flex items-center justify-between">
      <h3 class="text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-100">Providers</h3>
      <app-button variant="link" @click.prevent="toggleProviderForm">Add provider</app-button>
    </div>

    <div class="mt-2 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
      <div v-for="provider in providers" :key="provider.id">
        <card>
          <template #title>
            <p class="flex flex-row items-center justify-between gap-4">
              <span>{{ provider.name }}</span>
              <inertia-link class="icon-link" title="Open details" :href="route('providers.show', provider)">
                <folder-open-icon class="h-5 w-5" />
              </inertia-link>
            </p>
          </template>

          <p v-if="provider.account_number"><strong>Account number:</strong> {{ provider.account_number }}</p>
          <p v-if="provider.website" class="truncate">
            <a :href="provider.website" class="text-primary-600 hover:text-primary-800 hover:underline" target="_blank">
              {{ provider.website }}
            </a>
          </p>
        </card>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-between">
      <h3 class="text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-100">Latest records</h3>

      <div class="flex items-center gap-2">
        <app-button variant="link" type="button" @click="toggleRecordForm">Add record</app-button>
        <inertia-link class="btn btn-link" :href="route('records.index', { _query: { apartment_id: apartment.id } })">
          View all
        </inertia-link>
      </div>
    </div>

    <white-box class="mt-2">
      <records-table :records="records" @create="toggleRecordForm"></records-table>
    </white-box>
  </AuthenticatedLayout>
</template>
