<script setup lang="ts">
import { ArrowDownIcon, ArrowUpIcon } from "@heroicons/vue/20/solid";
import { Head, Link as InertiaLink } from "@inertiajs/inertia-vue3";
import { Bar, Pie } from "vue-chartjs";
import { formatCurrency } from "@/utils/currencies";
import { getMonthName } from "@/utils/dates";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PageTitle from "@/Components/Elements/PageTitle.vue";
import Card from "@/Components/Blocks/Card.vue";

const props = defineProps<{ latest_records: ServiceRecord[]; stats: any }>();

const chartData = {
  labels: props.stats.payments_by_months.labels,
  datasets: [{ data: props.stats.payments_by_months.data }],
};
const chartOptions = {
  responsive: true,
  plugins: {
    legend: {
      display: null,
    },
  },
  scales: {
    y: {
      display: null,
    },
    x: {
      grid: {
        display: null,
      },
    },
  },
};

const monthTotalToPay = parseFloat(props.stats.month_totals.total_to_pay);
const monthTotalPaid = parseFloat(props.stats.month_totals.total_paid);
const monthTotalOverpaid = monthTotalPaid > monthTotalToPay;
const monthChange = Math.round((monthTotalPaid / monthTotalToPay) * 100).toFixed() + "%";
</script>

<template>
  <Head><title>Dashboard</title></Head>

  <AuthenticatedLayout>
    <template #header>
      <page-title>Dashboard</page-title>
    </template>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="space-y-4">
        <card>
          <template #title>
            <span>This months payments</span>
          </template>

          <pie
            id="payments-by-type"
            :data="{
              labels: stats.current_month_payments_by_type.labels,
              datasets: [{ data: stats.current_month_payments_by_type.data, hoverOffset: 4 }],
            }"
            :options="{ responsive: true }"
          />
        </card>
      </div>

      <div class="space-y-4">
        <card>
          <template #title>
            <span>This months payments</span>
          </template>

          <div class="mt-1 flex items-baseline justify-between md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-primary-600">
              {{ formatCurrency(stats.month_totals.total_paid) }}

              <span class="ml-2 text-base font-medium text-gray-500">
                from {{ formatCurrency(stats.month_totals.total_to_pay) }}
              </span>
            </div>

            <div
              :class="[
                monthTotalOverpaid ? 'bg-emerald-100 text-emerald-800' : 'bg-rose-100 text-rose-800',
                'inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium md:mt-2 lg:mt-0',
              ]"
            >
              <ArrowUpIcon
                v-if="monthTotalOverpaid"
                class="-ml-1 mr-0.5 h-5 w-5 flex-shrink-0 self-center text-emerald-500"
                aria-hidden="true"
              />
              <ArrowDownIcon
                v-else
                class="-ml-1 mr-0.5 h-5 w-5 flex-shrink-0 self-center text-rose-500"
                aria-hidden="true"
              />
              <span class="sr-only"> {{ monthTotalOverpaid ? "Overpaid" : "Underpaid" }} by </span>
              {{ monthChange }}
            </div>
          </div>
        </card>

        <card>
          <template #title>
            <p class="flex flex-row items-center justify-between gap-4">
              <span>Latest records</span>

              <inertia-link class="link text-base" :href="route('records.index')">View all</inertia-link>
            </p>
          </template>

          <div class="flow-root">
            <ul role="list" class="space-y-2 divide-y divide-gray-200 dark:divide-gray-700">
              <li class="pt-2" v-for="record in latest_records">
                <div class="flex items-center space-x-4">
                  <div class="min-w-0 flex-1">
                    <p class="truncate text-sm font-medium text-gray-900 dark:text-white">
                      {{ record.provider.name }} ({{ record.start_numbers }}-{{ record.end_numbers }},
                      {{ getMonthName(record.month) }})
                    </p>
                    <p class="truncate text-sm text-gray-500 dark:text-gray-400">
                      {{ record.apartment.name }}
                    </p>
                  </div>
                  <div class="inline-flex items-center gap-1 text-base font-semibold text-gray-900 dark:text-white">
                    <span :class="[record.is_paid ? 'text-emerald-600' : 'text-rose-600']">
                      {{ formatCurrency(record.total_to_pay) }}
                    </span>
                    <span v-if="record.is_paid" class="font-normal text-gray-600">
                      ({{ formatCurrency(record.total_paid) }})
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </card>
      </div>

      <div class="md:col-span-2">
        <card>
          <template #title>
            <span>Last 12 months payments</span>
          </template>

          <bar id="payments-trend" :options="chartOptions" :data="chartData" />
        </card>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
