<script setup lang="ts">
import { ref } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { Head, Link as InertiaLink } from "@inertiajs/inertia-vue3";
import { CheckCircleIcon, PencilSquareIcon, TrashIcon } from "@heroicons/vue/24/outline";
import { formatDateShort } from "@/utils/dates";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import PageTitle from "@/Components/Elements/PageTitle.vue";
import WhiteBox from "@/Components/Blocks/WhiteBox.vue";
import PageHeader from "@/Components/Blocks/PageHeader.vue";
import RecordsTable from "@/Components/Blocks/RecordsTable.vue";
import RecordForm from "@/Components/Forms/RecordForm.vue";
import ProviderPlanForm from "@/Components/Forms/ProviderPlanForm.vue";
import ProviderForm from "@/Components/Forms/ProviderForm.vue";
import AlertModal from "@/Components/Blocks/AlertModal.vue";

const props = defineProps<{
  apartment: Apartment;
  provider: Provider;
  providers: Provider[];
  records: ServiceRecord[];
  plans: ProviderPlan[];
}>();

const history = window.history;

const openEdit = ref(false);
const toggleEditForm = () => (openEdit.value = !openEdit.value);

const openRemove = ref(false);
const toggleRemoveModal = () => (openRemove.value = !openRemove.value);

const openRecordForm = ref(false);
const toggleRecordForm = () => (openRecordForm.value = !openRecordForm.value);

const openPlanForm = ref(false);
const togglePlanForm = () => (openPlanForm.value = !openPlanForm.value);

const handleRemove = () => {
  Inertia.delete(route("providers.destroy", props.provider), {
    onFinish: () => toggleRemoveModal(),
  });
};
</script>

<template>
  <Head>
    <title>{{ provider.name }}</title>
  </Head>

  <AuthenticatedLayout>
    <template #header>
      <page-header with-back>
        <div class="flex items-end gap-4">
          <page-title>{{ provider.name }}</page-title>
          <p class="text-sm font-semibold text-gray-600">{{ apartment.name }} / {{ apartment.location }}</p>
        </div>

        <template #actions>
          <p class="flex items-center gap-1">
            <button type="button" class="icon-link" title="Edit" @click.prevent="toggleEditForm">
              <pencil-square-icon class="h-5 w-5" />
            </button>
            <button type="button" class="icon-link" title="Remove" @click.prevent="toggleRemoveModal">
              <trash-icon class="h-5 w-5" />
            </button>
          </p>
        </template>
      </page-header>
    </template>

    <provider-form :provider="provider" :open="openEdit" @close="toggleEditForm" />

    <alert-modal :open="openRemove" @close="toggleRemoveModal" @confirm="handleRemove">
      Are you sure you want to remove this provider?
    </alert-modal>

    <record-form
      :open="openRecordForm"
      :record="null"
      :selected-apartment="apartment"
      :selected-provider="provider"
      :records="records"
      @close="toggleRecordForm"
    />

    <template v-if="openPlanForm">
      <provider-plan-form :provider="provider" :open="openPlanForm" @close="togglePlanForm" />
    </template>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <div class="md:col-span-2"></div>
      <div>
        <div class="flex flex-row items-center justify-between gap-2">
          <h3 class="section-heading">Tariffs and plans</h3>

          <div>
            <app-button variant="link" type="button" @click="togglePlanForm">Add plan</app-button>
          </div>
        </div>

        <white-box class="mt-2">
          <div class="p-4">
            <div v-for="plan in plans" :key="plan.id" class="flex items-center gap-2 text-sm">
              <span v-if="plan.is_active">
                <check-circle-icon class="h-5 w-5 text-emerald-600" />
              </span>
              <span class="font-semibold">{{ plan.price }}</span>
              <span>from {{ formatDateShort(plan.started_at) }}</span>
            </div>
            <p v-if="!plans.length">No active plans</p>
          </div>
        </white-box>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-between">
      <h3 class="section-heading">Latest records</h3>

      <div class="flex items-center gap-2">
        <app-button variant="link" type="button" @click="toggleRecordForm">Add record</app-button>
        <inertia-link
          class="btn btn-link"
          :href="route('records.index', { _query: { apartment_id: apartment.id, provider_id: provider.id } })"
        >
          View all
        </inertia-link>
      </div>
    </div>

    <white-box class="mt-2">
      <records-table :records="records" @create="toggleRecordForm"></records-table>
    </white-box>
  </AuthenticatedLayout>
</template>
