<script setup lang="ts">
import { computed, ref } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { Head, Link as InertiaLink } from "@inertiajs/inertia-vue3";
import { PencilSquareIcon, TrashIcon } from "@heroicons/vue/24/outline";
import groupBy from "lodash.groupby";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PageTitle from "@/Components/Elements/PageTitle.vue";
import Card from "@/Components/Blocks/Card.vue";
import PageHeader from "@/Components/Blocks/PageHeader.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import ProviderForm from "@/Components/Forms/ProviderForm.vue";
import AlertModal from "@/Components/Blocks/AlertModal.vue";

const props = defineProps<{ providers: Provider[] }>();

const open = ref(false);
const openRemove = ref(false);
const active = ref<OptionalProvider>(null);
const activeRemove = ref<OptionalProvider>(null);

const groupedProviders = computed(() => groupBy(props.providers, (provider) => provider.apartment?.name));

const toggleModal = () => (open.value = !open.value);
const toggleRemoveModal = () => (openRemove.value = !openRemove.value);

const create = () => {
  active.value = null;
  toggleModal();
};

const edit = (provider: OptionalProvider) => {
  active.value = provider;
  toggleModal();
};

const remove = (provider: OptionalProvider) => {
  activeRemove.value = provider;
  toggleRemoveModal();
};

const handleRemove = () => {
  if (!activeRemove.value) return;

  Inertia.delete(route("providers.destroy", activeRemove.value), {
    preserveState: true,
    preserveScroll: true,
    onFinish: () => toggleRemoveModal(),
  });
};
</script>

<template>
  <Head><title>Providers</title></Head>

  <AuthenticatedLayout>
    <template #header>
      <page-header>
        <page-title>Providers</page-title>

        <template #actions>
          <app-button @click="create">Add provider</app-button>
        </template>
      </page-header>
    </template>

    <provider-form :provider="active" :open="open" @close="toggleModal" />

    <alert-modal :open="openRemove" @close="toggleRemoveModal" @confirm="handleRemove">
      Are you sure you want to remove this provider?
    </alert-modal>

    <div class="space-y-8">
      <div v-for="(objects, name) in groupedProviders" :key="name">
        <h3 class="text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-100">{{ name }}</h3>

        <div class="mt-2 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
          <div v-for="provider in objects" :key="provider.id">
            <card>
              <template #title>
                <div class="flex flex-row items-center justify-between gap-4">
                  <inertia-link
                    class="hover:cursor-pointer hover:text-gray-700"
                    :href="route('providers.show', provider)"
                  >
                    {{ provider.name }}
                  </inertia-link>

                  <p class="flex items-center gap-1">
                    <button type="button" class="icon-link" title="Edit" @click.prevent="edit(provider)">
                      <pencil-square-icon class="h-5 w-5" />
                    </button>
                    <button type="button" class="icon-link" title="Remove" @click.prevent="remove(provider)">
                      <trash-icon class="h-5 w-5" />
                    </button>
                  </p>
                </div>
              </template>

              <p v-if="provider.account_number"><strong>Account number:</strong> {{ provider.account_number }}</p>
              <p v-if="provider.website" class="truncate">
                <a
                  :href="provider.website"
                  class="text-primary-600 hover:text-primary-800 hover:underline"
                  target="_blank"
                >
                  {{ provider.website }}
                </a>
              </p>

              <template #actions>
                <div class="flex items-center justify-end">
                  <inertia-link class="btn btn-secondary" :href="route('providers.show', provider)">
                    Open
                  </inertia-link>
                </div>
              </template>
            </card>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
