<script setup lang="ts">
import { ref } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { Head } from "@inertiajs/inertia-vue3";
import { PencilSquareIcon, TrashIcon } from "@heroicons/vue/24/outline";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import PageTitle from "@/Components/Elements/PageTitle.vue";
import WhiteBox from "@/Components/Blocks/WhiteBox.vue";
import PageHeader from "@/Components/Blocks/PageHeader.vue";
import AlertModal from "@/Components/Blocks/AlertModal.vue";
import RecordForm from "@/Components/Forms/RecordForm.vue";
import RecordsTable from "@/Components/Blocks/RecordsTable.vue";
import Filters from "@/Components/Blocks/Records/Filters.vue";
import Pagination from "@/Components/Pagination.vue";

defineProps<{ records: PaginatedResource<ServiceRecord> }>();

const open = ref(false);
const openRemove = ref(false);
const active = ref<ServiceRecord | null>(null);
const activeRemove = ref<ServiceRecord | null>(null);

const toggleModal = () => (open.value = !open.value);
const toggleRemoveModal = () => (openRemove.value = !openRemove.value);

const create = () => {
  active.value = null;
  toggleModal();
};

const edit = (record: ServiceRecord) => {
  active.value = record;
  toggleModal();
};

const remove = (record: ServiceRecord) => {
  activeRemove.value = record;
  toggleRemoveModal();
};

const handleRemove = () => {
  if (!activeRemove.value) return;

  Inertia.delete(route("records.destroy", activeRemove.value), {
    preserveState: true,
    preserveScroll: true,
    onFinish: () => toggleRemoveModal(),
  });
};
</script>

<template>
  <Head><title>Records</title></Head>

  <AuthenticatedLayout>
    <template #header>
      <page-header>
        <page-title>Records</page-title>

        <template #actions>
          <app-button @click="create">Add record</app-button>
        </template>
      </page-header>
    </template>

    <record-form :record="active" :open="open" :records="records.data" @close="toggleModal" />

    <alert-modal :open="openRemove" @close="toggleRemoveModal" @confirm="handleRemove">
      Are you sure you want to remove this record?
      <br />
      @todo: show record information
    </alert-modal>

    <filters />

    <white-box class="mt-6">
      <records-table :records="records.data" v-slot="{ record }">
        <div class="flex items-center gap-2">
          <button
            type="button"
            class="cursor-pointer rounded p-1 text-primary-600 hover:bg-gray-100 hover:text-primary-800"
            title="Edit"
            @click.prevent="edit(record)"
          >
            <pencil-square-icon class="h-4 w-4" />
          </button>

          <button
            type="button"
            class="cursor-pointer rounded p-1 text-rose-600 hover:bg-gray-100 hover:text-rose-800"
            title="Remove"
            @click.prevent="remove(record)"
          >
            <trash-icon class="h-4 w-4" />
          </button>
        </div>
      </records-table>

      <div class="p-6 pt-0" v-if="records.meta.last_page > 1">
        <pagination :meta="records.meta" />
      </div>
    </white-box>
  </AuthenticatedLayout>
</template>
