@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-flex items-center rounded-md border border-transparent px-4 py-2 text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 disabled:opacity-75;
    }

    .btn.btn-primary {
        @apply bg-primary-600 text-white shadow-sm hover:bg-primary-700;
    }

    .btn.btn-secondary {
        @apply bg-primary-100 text-primary-700 hover:bg-primary-200;
    }

    .btn.btn-link {
        @apply bg-transparent text-primary-700 hover:bg-gray-50;
    }

    .icon-link {
        @apply rounded-md bg-transparent p-1 text-gray-700 hover:bg-gray-100 hover:text-gray-900 hover:cursor-pointer;
    }

    .link {
        @apply font-medium text-primary-600 hover:cursor-pointer hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-300;
    }

    .section-heading {
        @apply text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-100;
    }
}
