<script setup>
import { computed } from "vue";
import { Link } from "@inertiajs/inertia-vue3";

const props = defineProps(["href", "active"]);

const classes = computed(() => {
  const shared =
    "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 focus:outline-none transition duration-150 ease-in-out";
  const inactive =
    "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300";
  const active = "border-primary-500 text-gray-900 focus:border-primary-700";

  return [shared, props.active ? active : inactive];
});
</script>

<template>
  <Link :href="href" :class="classes">
    <slot />
  </Link>
</template>
