<template>
  <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
    <div class="-mt-px flex w-0 flex-1" v-if="prevLink">
      <inertia-link
        v-if="prevLink.url"
        :href="prevLink.url"
        class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        preserve-scroll
      >
        <ArrowLongLeftIcon class="mr-3 h-5 w-5 text-gray-400" aria-hidden="true" />
        Previous
      </inertia-link>
    </div>
    <div class="hidden md:-mt-px md:flex">
      <inertia-link
        v-for="item in links"
        :href="item.url"
        class="inline-flex items-center border-t-2 px-4 pt-4 text-sm font-medium"
        :class="{
          'border-primary-500 text-primary-600': item.active,
          'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700': !item.active,
        }"
        preserve-scroll
      >
        {{ item.label }}
      </inertia-link>
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end" v-if="nextLink">
      <inertia-link
        v-if="nextLink.url"
        :href="nextLink.url"
        class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        preserve-scroll
      >
        Next
        <ArrowLongRightIcon class="ml-3 h-5 w-5 text-gray-400" aria-hidden="true" />
      </inertia-link>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { ArrowLongLeftIcon, ArrowLongRightIcon } from "@heroicons/vue/20/solid";
import { Link as InertiaLink } from "@inertiajs/inertia-vue3";

const props = defineProps<{ meta: PaginationMeta }>();

const prevLink = computed(() => props.meta.links.at(0));
const nextLink = computed(() => props.meta.links.at(-1));
const links = computed(() => props.meta.links.slice(1, -1));
</script>
