<template>
  <modal :open="open" @close="$emit('close')">
    <dialog-panel
      class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md"
    >
      <button
        type="button"
        class="absolute top-3 right-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-white"
        @click.prevent="$emit('close')"
      >
        <x-mark-icon class="h-5 w-5" />
        <span class="sr-only">Close modal</span>
      </button>

      <div class="p-6 text-center">
        <exclamation-triangle-icon class="mx-auto mb-4 h-14 w-14 text-rose-300 dark:text-rose-200" />

        <p class="mb-5 text-base font-normal text-gray-500 dark:text-gray-400">
          <slot />
        </p>

        <div class="space-x-1">
          <app-button type="button" variant="link" @click.prevent="$emit('close')">No, cancel</app-button>
          <app-button type="button" variant="primary" @click.prevent="$emit('confirm')">Yes, I'm sure</app-button>
        </div>
      </div>
    </dialog-panel>
  </modal>
</template>

<script setup>
import { ExclamationTriangleIcon, XMarkIcon } from "@heroicons/vue/24/outline";
import { DialogPanel } from "@headlessui/vue";
import Modal from "@/Components/Blocks/Modal.vue";
import AppButton from "@/Components/Elements/AppButton.vue";

defineEmits(["close", "confirm"]);
defineProps({ open: Boolean });
</script>
