<template>
  <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <slot name="title"></slot>
    </h5>

    <div class="font-normal text-gray-700 dark:text-gray-400" :class="[$slots.actions ? 'mb-3' : '']">
      <slot />
    </div>

    <slot name="actions"></slot>
  </div>
</template>
