<template>
  <DialogPanel
    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8"
  >
    <div class="flex items-center justify-between rounded-t py-4 px-6">
      <DialogTitle as="h3" class="text-xl font-semibold text-gray-900 dark:text-white">
        {{ title }}
      </DialogTitle>

      <button
        type="button"
        class="-mr-2 inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-toggle="defaultModal"
        @click.prevent="$emit('close')"
      >
        <x-mark-icon class="h-5 w-5" />
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <div class="p-6 pt-2">
      <slot />
    </div>

    <div v-if="$slots.actions" class="flex flex-row-reverse items-center gap-2 rounded-b py-4 px-6">
      <slot name="actions" />
    </div>
  </DialogPanel>
</template>

<script setup lang="ts">
import { DialogPanel, DialogTitle } from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";

defineEmits<{ (event: "close"): void }>();
defineProps<{ title: string }>();
</script>
