<template>
  <div class="flex items-center justify-between gap-4">
    <button v-if="withBack" type="button" class="icon-link" @click.prevent="history.back()">
      <arrow-left-icon class="h-6 w-6" />
    </button>

    <div class="flex-1">
      <slot />
    </div>

    <div v-if="$slots.actions">
      <slot name="actions" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ArrowLeftIcon } from "@heroicons/vue/24/outline";

defineProps<{ withBack?: boolean }>();

const history = window.history;
</script>
