<script setup lang="ts">
import { ref } from "vue";
import { BanknotesIcon } from "@heroicons/vue/24/outline";
import { titleCase } from "@/utils/texts";
import MakePaymentForm from "@/Components/Forms/MakePaymentForm.vue";

defineEmits<{ (event: "create"): void }>();
defineProps<{ records: ServiceRecord[] }>();

const activeRecord = ref<ServiceRecord | null>(null);
const showMakePaymentModal = ref(false);
const toggleMakePaymentModal = () => (showMakePaymentModal.value = !showMakePaymentModal.value);

const formatMonth = (record: ServiceRecord) => {
  return titleCase(new Date(record.month).toLocaleDateString("default", { year: "numeric", month: "long" }));
};

const makePayment = (record: ServiceRecord) => {
  activeRecord.value = record;
  toggleMakePaymentModal();
};
</script>

<template>
  <div class="relative overflow-x-auto p-6">
    <template v-if="showMakePaymentModal && activeRecord">
      <make-payment-form :record="activeRecord" :open="showMakePaymentModal" @close="toggleMakePaymentModal" />
    </template>

    <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">Apartment</th>
          <th scope="col" class="py-3 px-6">Provider</th>
          <th scope="col" class="py-3 px-6">Month</th>
          <th scope="col" class="py-3 px-6">Start numbers</th>
          <th scope="col" class="py-3 px-6">End numbers</th>
          <th scope="col" class="py-3 px-6">Total</th>
          <th scope="col" class="py-3 px-6">Total paid</th>
          <th scope="col" class="py-3 px-6">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(record, idx) in records"
          :key="record.id"
          :class="['bg-white dark:bg-gray-800', idx !== records.length - 1 ? 'border-b dark:border-gray-700' : '']"
        >
          <th scope="row" class="whitespace-nowrap py-4 px-6 font-semibold text-gray-900 dark:text-white">
            {{ record.apartment.name }}
          </th>
          <td class="py-4 px-6">{{ record.provider.name }}</td>
          <td class="py-4 px-6">{{ formatMonth(record) }}</td>
          <td class="py-4 px-6">{{ record.start_numbers }}</td>
          <td class="py-4 px-6">{{ record.end_numbers }}</td>
          <td class="py-4 px-6">{{ record.total_to_pay }}</td>
          <td class="py-4 px-6">
            <div class="flex flex-row items-center justify-between gap-2">
              <span class="block" :class="[record.is_paid ? 'text-emerald-600' : 'text-rose-600']">
                {{ record.is_paid ? record.total_paid : "Not paid" }}
              </span>
              <button
                v-if="!record.is_paid"
                type="button"
                class="cursor-pointer rounded p-1 text-primary-600 hover:bg-gray-100 hover:text-primary-800"
                title="Add payment"
                @click.prevent="makePayment(record)"
              >
                <banknotes-icon class="h-4 w-4" />
              </button>
            </div>
          </td>
          <td class="py-4 px-6">
            <slot :record="record" />
          </td>
        </tr>

        <tr v-if="records.length === 0" class="bg-white dark:bg-gray-800">
          <th
            colspan="8"
            scope="row"
            class="whitespace-nowrap py-4 px-6 text-center font-semibold text-gray-900 dark:text-white"
          >
            <p class="pt-4">
              No records. Time to
              <button class="text-primary-600 hover:text-primary-800" @click.prevent="$emit('create')">
                add a new
              </button>
              one
            </p>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>
