<template>
  <modal :open="open" @close="$emit('close')">
    <form class="sm:w-full sm:max-w-md" @submit.prevent="handleSubmit" :aria-disabled="form.processing">
      <modal-content :title="apartment ? 'Update apartment' : 'Add apartment'">
        <div class="space-y-4">
          <div class="space-y-1">
            <input-label for="name" value="Name" />
            <input-text v-model="form.name" type="text" id="name" placeholder="My flat" autofocus />
            <input-error :message="form.errors.name" />
          </div>

          <div class="space-y-1">
            <input-label for="location" value="Location" />
            <input-text v-model="form.location" type="text" id="location" placeholder="NY, Meddison str, 1" />
            <input-error :message="form.errors.location" />
          </div>

          <div class="space-y-1">
            <input-label for="area_size" value="Area (in square meters)" />
            <input-text v-model="form.area_size" type="number" id="area_size" step="0.01" min="0" placeholder="55.25" />
            <input-error :message="form.errors.area_size" />
          </div>
        </div>

        <template #actions>
          <app-button :processing="form.processing" :disabled="form.processing">
            {{ apartment ? "Update apartment" : "Add apartment" }}
          </app-button>
          <app-button :disabled="form.processing" type="button" variant="link" @click.prevent="$emit('close')">
            Cancel
          </app-button>
        </template>
      </modal-content>
    </form>
  </modal>
</template>

<script setup lang="ts">
import { watch } from "vue";
import { useForm } from "@inertiajs/inertia-vue3";
import Modal from "@/Components/Blocks/Modal.vue";
import ModalContent from "@/Components/Blocks/ModalContent.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import InputText from "@/Components/Elements/InputText.vue";
import InputLabel from "@/Components/Elements/InputLabel.vue";
import InputError from "@/Components/Elements/InputError.vue";

const emit = defineEmits<{ (event: "close"): void }>();
const props = defineProps<{ open: boolean; apartment?: OptionalApartment }>();

const initialData = (apartment?: OptionalApartment): ApartmentData =>
  apartment
    ? { name: apartment.name, location: apartment.location, area_size: apartment.area_size }
    : { name: "", location: "", area_size: "0" };

const form = useForm(initialData(props.apartment));

const handleSubmit = () => {
  const options = {
    preserveState: true,
    onSuccess: () => {
      form.reset();
      emit("close");
    },
  };

  if (props.apartment) {
    form.put(route("apartments.update", props.apartment), options);
  } else {
    form.post(route("apartments.store"), options);
  }
};

watch(props, () => {
  form.defaults(initialData(props.apartment));
  form.reset();
});
</script>
