<template>
  <modal :open="open" @close="$emit('close')">
    <form class="sm:w-full sm:max-w-md" @submit.prevent="handleSubmit" :aria-disabled="form.processing">
      <modal-content title="Add payment">
        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-600">
              {{ record.provider?.name || "Payment for service" }}, {{ getMonthName(record.month) }},
              {{ record.start_numbers }}-{{ record.end_numbers }}, {{ record.total_to_pay }} UAH
            </p>
          </div>

          <div class="space-y-1">
            <input-label for="amount" value="Amount paid" />
            <input-text v-model="form.amount" type="number" step="0.01" id="amount" autofocus />
            <input-error :message="form.errors.amount" />
          </div>
        </div>

        <template #actions>
          <app-button :processing="form.processing" :disabled="form.processing">Add payment</app-button>
          <app-button :disabled="form.processing" type="button" variant="link" @click.prevent="$emit('close')">
            Cancel
          </app-button>
        </template>
      </modal-content>
    </form>
  </modal>
</template>

<script setup lang="ts">
import { useForm } from "@inertiajs/inertia-vue3";
import { getMonthName } from "@/utils/dates";
import AppButton from "@/Components/Elements/AppButton.vue";
import InputLabel from "@/Components/Elements/InputLabel.vue";
import InputText from "@/Components/Elements/InputText.vue";
import InputError from "@/Components/Elements/InputError.vue";
import Modal from "@/Components/Blocks/Modal.vue";
import ModalContent from "@/Components/Blocks/ModalContent.vue";

const emit = defineEmits<{ (event: "close"): void }>();
const props = defineProps<{ open: boolean; record: ServiceRecord }>();

const form = useForm({ amount: props.record.total_to_pay });

const handleSubmit = () => {
  form
    .transform((data) => ({ total_paid: data.amount }))
    .post(route("records.payment", props.record), {
      preserveState: true,
      preserveScroll: true,
      onSuccess: () => {
        form.reset();
        emit("close");
      },
    });
};
</script>
