<template>
  <modal :open="open" @close="$emit('close')">
    <form class="sm:w-full sm:max-w-md" @submit.prevent="handleSubmit" :aria-disabled="form.processing">
      <modal-content :title="title" @close="$emit('close')">
        <div class="space-y-4">
          <div class="space-y-1">
            <input-label for="price" value="Price" />
            <input-text
              v-model="form.price"
              type="number"
              id="price"
              step="0.0001"
              min="0"
              placeholder="1.68"
              required
            />
            <input-error :message="form.errors.price" />
          </div>

          <div class="space-y-1">
            <input-label for="started_at" value="Started at" />
            <input-text v-model="form.started_at" type="date" id="started_at" required />
            <input-error :message="form.errors.started_at" />
          </div>

          <div class="space-y-1">
            <label class="flex items-center">
              <input-checkbox name="uses_apartment_area" v-model:checked="form.uses_apartment_area" />
              <span class="ml-2 text-sm font-semibold text-gray-600">Use apartment area for calculation?</span>
            </label>
          </div>

          <div class="space-y-1">
            <label class="flex items-center">
              <input-checkbox name="is_fixed_price" v-model:checked="form.is_fixed_price" />
              <span class="ml-2 text-sm font-semibold text-gray-600">Fixed price per month</span>
            </label>
          </div>

          <div class="space-y-1">
            <label class="flex items-center">
              <input-checkbox name="is_active" v-model:checked="form.is_active" />
              <span class="ml-2 text-sm font-semibold text-gray-600">Is active?</span>
            </label>
          </div>
        </div>

        <template #actions>
          <app-button :processing="form.processing" :disabled="form.processing">
            {{ plan ? "Update plan" : "Add plan" }}
          </app-button>
          <app-button :disabled="form.processing" type="button" variant="link" @click.prevent="$emit('close')">
            Cancel
          </app-button>
        </template>
      </modal-content>
    </form>
  </modal>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useForm } from "@inertiajs/inertia-vue3";
import Modal from "@/Components/Blocks/Modal.vue";
import ModalContent from "@/Components/Blocks/ModalContent.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import InputText from "@/Components/Elements/InputText.vue";
import InputCheckbox from "@/Components/Elements/InputCheckbox.vue";
import InputLabel from "@/Components/Elements/InputLabel.vue";
import InputError from "@/Components/Elements/InputError.vue";

const emit = defineEmits<{ (event: "close"): void }>();
const props = defineProps<{ open: boolean; provider: Provider; plan?: ProviderPlan }>();

const initialData = (plan?: ProviderPlan): ProviderPlanData => {
  return plan
    ? {
        price: plan.price,
        started_at: plan.started_at,
        uses_apartment_area: plan.uses_apartment_area,
        is_active: plan.is_active,
        is_fixed_price: plan.is_fixed_price,
      }
    : {
        price: "0",
        started_at: new Date().toLocaleDateString().slice(0, 10),
        uses_apartment_area: false,
        is_active: true,
        is_fixed_price: false,
      };
};

const form = useForm<ProviderPlanData>(initialData(props.plan));

const title = computed(() => (props.plan ? "Update plan" : "Add plan"));

const handleSubmit = () => {
  const options = {
    preserveState: true,
    preserveScroll: true,
    onSuccess: () => {
      form.reset();
      emit("close");
    },
  };

  const prepareData = (data: ProviderPlanData) => ({
    ...data,
    provider_id: props.provider.id,
  });

  if (props.plan) {
    form.transform(prepareData).put(route("plans.update", props.plan), options);
  } else {
    form.transform(prepareData).post(route("plans.store"), options);
  }
};
</script>
