<template>
  <modal :open="open" @close="$emit('close')">
    <form class="sm:w-full sm:max-w-md" @submit.prevent="handleSubmit" :aria-disabled="form.processing">
      <modal-content :title="title" @close="$emit('close')">
        <div class="space-y-4">
          <div class="space-y-1">
            <input-label for="apartment-id" value="Apartment" />
            <input-select v-model="form.apartment_id" id="apartment-id" :disabled="!!selectedApartment">
              <option
                v-for="apartment in apartments"
                :key="apartment.id"
                :value="apartment.id"
                :selected="form.apartment_id === apartment.id.toString() ? 'selected' : ''"
              >
                {{ apartment.name }}
              </option>
            </input-select>
            <input-error :message="form.errors.apartment_id" />
          </div>

          <div class="space-y-1">
            <input-label for="provider-type" value="Type" />
            <input-select v-model="form.provider_type" id="provider-type">
              <option v-for="[value, label] in providerTypes" :key="value" :value="value">
                {{ label }}
              </option>
            </input-select>
            <input-error :message="form.errors.provider_type" />
          </div>

          <div class="space-y-1">
            <input-label for="name" value="Name" />
            <input-text v-model="form.name" type="text" id="name" placeholder="Electricity" />
            <input-error :message="form.errors.name" />
          </div>

          <div class="space-y-1">
            <input-label for="account-number" value="Account number" />
            <input-text v-model="form.account_number" type="text" id="account-number" placeholder="324515" />
            <input-error :message="form.errors.account_number" />
          </div>

          <div class="space-y-1">
            <input-label for="website" value="Website URL" />
            <input-text v-model="form.website" type="url" id="website" placeholder="http://water.example.com/account" />
            <input-error :message="form.errors.website" />
          </div>
        </div>

        <template #actions>
          <app-button :processing="form.processing" :disabled="form.processing">
            {{ provider ? "Update provider" : "Add provider" }}
          </app-button>
          <app-button :disabled="form.processing" type="button" variant="link" @click.prevent="$emit('close')">
            Cancel
          </app-button>
        </template>
      </modal-content>
    </form>
  </modal>
</template>

<script setup lang="ts">
import { computed, watch } from "vue";
import { useForm, usePage } from "@inertiajs/inertia-vue3";
import Modal from "@/Components/Blocks/Modal.vue";
import ModalContent from "@/Components/Blocks/ModalContent.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import InputText from "@/Components/Elements/InputText.vue";
import InputLabel from "@/Components/Elements/InputLabel.vue";
import InputError from "@/Components/Elements/InputError.vue";
import InputSelect from "@/Components/Elements/InputSelect.vue";

const emit = defineEmits<{ (event: "close"): void }>();
const props = defineProps<{ open: boolean; provider?: OptionalProvider; selectedApartment?: Apartment }>();

const DEFAULT_PROVIDER_TYPE = "other";

const initialData = (provider?: OptionalProvider): ProviderData => {
  return provider
    ? {
        apartment_id: provider.apartment_id.toString(),
        name: provider.name,
        account_number: provider.account_number,
        website: provider.website,
        provider_type: provider.provider_type,
      }
    : {
        apartment_id: props.selectedApartment ? props.selectedApartment.id.toString() : "",
        name: "",
        account_number: "",
        website: "",
        provider_type: DEFAULT_PROVIDER_TYPE,
      };
};

const page = usePage<{ apartments: Apartment[]; provider_types: ProviderTypes }>();
const form = useForm<ProviderData>(initialData(props.provider));

const apartments = computed(() => page.props.value.apartments);
const providerTypes = computed(() => Object.entries(page.props.value.provider_types));

const title = computed(() => (props.provider ? "Update provider" : "Add provider"));

const handleSubmit = () => {
  const options = {
    preserveState: true,
    preserveScroll: true,
    onSuccess: () => {
      form.reset();
      emit("close");
    },
  };

  const prepareData = (data: ProviderData) => ({
    ...data,
    is_active: true, // hardcoded for now
  });

  if (props.provider) {
    form.transform(prepareData).put(route("providers.update", props.provider), options);
  } else {
    form.transform(prepareData).post(route("providers.store"), options);
  }
};

watch(props, () => {
  form.defaults(initialData(props.provider));
  form.reset();
});
</script>
