<template>
  <modal :open="open" @close="$emit('close')">
    <form class="sm:w-full sm:max-w-lg" @submit.prevent="handleSubmit" :aria-disabled="form.processing">
      <modal-content :title="title" @close="$emit('close')">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <div class="space-y-1">
            <input-label for="apartment-id" value="Apartment" />
            <input-select
              v-model="form.apartment_id"
              id="apartment-id"
              placeholder="Select apartment"
              :disabled="!!selectedApartment || !!record"
            >
              <option
                v-for="apartment in apartments"
                :key="apartment.id"
                :value="apartment.id"
                :selected="form.apartment_id === apartment.id.toString()"
              >
                {{ apartment.name }}
              </option>
            </input-select>
            <input-error :message="form.errors.apartment_id" />
          </div>

          <div>
            <div v-show="!!form.apartment_id" class="space-y-1">
              <input-label for="provider-id" value="Provider" />
              <input-select v-model="form.provider_id" id="provider-id" :disabled="!!selectedProvider || !!record">
                <option
                  v-for="provider in providers"
                  :key="provider.id"
                  :value="provider.id"
                  :selected="form.provider_id === provider.id.toString()"
                >
                  {{ provider.name }}
                </option>
              </input-select>
              <input-error :message="form.errors.provider_id" />
            </div>
          </div>

          <div class="space-y-1">
            <input-label for="month" value="Month" />
            <input-text v-model="form.month" type="date" id="month" placeholder="2022-01-01" />
            <input-error :message="form.errors.month" />
          </div>

          <div class="flex flex-col justify-end">
            <p class="mb-2 text-sm font-semibold text-gray-600">{{ monthName }}</p>
          </div>

          <div class="space-y-1">
            <input-label for="start-numbers" value="Start numbers" />
            <input-text v-model="form.start_numbers" type="number" min="0" id="start-numbers" placeholder="3025" />
            <input-error :message="form.errors.start_numbers" />
          </div>

          <div class="space-y-1">
            <input-label for="end-numbers" value="End numbers" />
            <input-text v-model="form.end_numbers" type="number" min="0" id="end-numbers" placeholder="3050" />
            <input-error :message="form.errors.end_numbers" />
          </div>

          <template v-if="prevRecord">
            <div class="md:col-span-2">
              <p class="text-sm font-medium text-gray-500">Previous record ({{ getMonthName(prevRecord.month) }})</p>

              <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <div>
                  <p class="text-sm font-semibold text-gray-500">Start numbers</p>
                  <p>{{ prevRecord.start_numbers }}</p>
                </div>

                <div>
                  <p class="text-sm font-semibold text-gray-500">End numbers</p>
                  <p>{{ prevRecord.end_numbers }}</p>
                </div>
              </div>
            </div>
          </template>

          <div class="space-y-1">
            <input-label for="total_to_pay" value="Total" />
            <input-text
              v-model="form.total_to_pay"
              type="number"
              min="0"
              step="0.01"
              id="total_to_pay"
              placeholder="100.25"
            />
            <input-error :message="form.errors.total_to_pay" />
          </div>

          <div class="space-y-1">
            <input-label for="total_paid" value="Total paid" />
            <input-text
              v-model="form.total_paid"
              type="number"
              min="0"
              step="0.01"
              id="total_paid"
              placeholder="100.50"
            />
            <input-error :message="form.errors.total_paid" />
          </div>

          <div class="space-y-1">
            <label class="flex items-center">
              <input-checkbox name="is_paid" v-model:checked="form.is_paid" />
              <span class="ml-2 text-sm font-semibold text-gray-600">Is paid?</span>
            </label>
          </div>
        </div>

        <template #actions>
          <app-button :processing="form.processing" :disabled="form.processing">Save</app-button>
          <app-button :disabled="form.processing" type="button" variant="link" @click.prevent="$emit('close')">
            Cancel
          </app-button>
        </template>
      </modal-content>
    </form>
  </modal>
</template>

<script setup lang="ts">
import { computed, watch } from "vue";
import { subMonths, endOfMonth } from "date-fns";
import { useForm, usePage } from "@inertiajs/inertia-vue3";
import { getMonthName } from "@/utils/dates";
import Modal from "@/Components/Blocks/Modal.vue";
import ModalContent from "@/Components/Blocks/ModalContent.vue";
import AppButton from "@/Components/Elements/AppButton.vue";
import InputText from "@/Components/Elements/InputText.vue";
import InputLabel from "@/Components/Elements/InputLabel.vue";
import InputError from "@/Components/Elements/InputError.vue";
import InputSelect from "@/Components/Elements/InputSelect.vue";
import InputCheckbox from "@/Components/Elements/InputCheckbox.vue";

const emit = defineEmits<{ (event: "close"): void }>();
const props = defineProps<{
  open: boolean;
  record: ServiceRecord | null;
  selectedApartment?: Apartment;
  selectedProvider?: Provider;
  records: ServiceRecord[];
}>();

const initialData = (record: ServiceRecord | null): RecordData => {
  const apartmentId = props.selectedApartment?.id ?? record?.apartment_id;
  const providerId = props.selectedProvider?.id ?? record?.provider_id;

  let startNumbers = "0";
  if (apartmentId && providerId) {
    startNumbers =
      props.records
        .find((r) => r.provider_id === providerId && r.apartment_id === apartmentId)
        ?.end_numbers.toString() ?? "0";
  }

  let totalToPay = "0";
  if (props.selectedProvider) {
    const activePlan = props.selectedProvider.plans
      ?.filter((p) => new Date(p.started_at) <= new Date() && p.is_active)
      .at(0);

    if (activePlan && activePlan.is_fixed_price) {
      totalToPay = parseFloat(activePlan.price).toFixed(2);
    }
  }

  return record
    ? {
        apartment_id: record.apartment_id.toString(),
        provider_id: record.provider_id.toString(),
        month: record.month,
        start_numbers: record.start_numbers.toString(),
        end_numbers: record.end_numbers.toString(),
        total_to_pay: record.total_to_pay,
        total_paid: record.total_paid,
        is_paid: record.is_paid,
      }
    : {
        apartment_id: props.selectedApartment ? props.selectedApartment.id.toString() : "",
        provider_id: props.selectedProvider ? props.selectedProvider.id.toString() : "",
        month: endOfMonth(subMonths(new Date(), 1)).toISOString().slice(0, 10),
        start_numbers: startNumbers,
        end_numbers: "0",
        total_to_pay: totalToPay,
        total_paid: "0",
        is_paid: false,
      };
};

const page = usePage<{ providers: Provider[]; apartments: Apartment[] }>();
const form = useForm(initialData(props.record));

const apartments = computed(() => page.props.value.apartments);
const providers = computed(() =>
  page.props.value.providers.filter((provider) => provider.apartment_id.toString() === form.apartment_id)
);
const provider = computed(() =>
  props.selectedProvider
    ? props.selectedProvider
    : page.props.value.providers.find((p) => p.id.toString() === form.provider_id)
);
const prevRecord = computed(() =>
  !!form.provider_id
    ? props.records.find(
        (r) =>
          r.apartment_id.toString() === form.apartment_id &&
          r.provider_id.toString() === form.provider_id &&
          r.id != props.record?.id
      )
    : undefined
);

const title = computed(() => (props.record ? "Update record" : "Add record"));
const monthName = computed(() => getMonthName(form.month));

const handleSubmit = () => {
  const options = {
    preserveState: true,
    preserveScroll: true,
    onSuccess: () => {
      form.reset();
      emit("close");
    },
  };

  if (props.record) {
    form.put(route("records.update", props.record), options);
  } else {
    form.post(route("records.store"), options);
  }
};

watch(props, () => {
  // @ts-ignore
  form.defaults(initialData(props.record));
  form.reset();
});

watch(
  () => form.apartment_id,
  (newId, oldId) => {
    if (newId !== oldId && form.isDirty) form.provider_id = "";
  }
);

watch(
  () => form.provider_id,
  (newId, oldId) => {
    if (props.record) return; // don't autofill on edit

    if (!form.start_numbers || newId !== oldId) {
      form.start_numbers = prevRecord.value ? prevRecord.value.end_numbers.toString() : "0";
    }
  }
);

watch(
  () => [form.start_numbers, form.end_numbers, form.provider_id],
  () => {
    if (props.record) return; // don't autofill on edit

    if (!provider.value || !provider.value.plans?.length) return;

    const activePlan = provider.value.plans.filter((p) => new Date(p.started_at) <= new Date() && p.is_active).at(0);

    if (!activePlan) return;

    if (activePlan.is_fixed_price) {
      form.total_to_pay = parseFloat(activePlan.price).toFixed(2);
      return;
    }

    const startNumbers = parseInt(form.start_numbers);
    const endNumbers = parseInt(form.end_numbers);
    const diff = endNumbers - startNumbers;

    if (diff > 0) {
      form.total_to_pay = (parseFloat(activePlan.price) * diff).toFixed(2);
    }
  }
);
</script>
